html,
body,
header,
#intro {
  height: 100%;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../img/COVERPAGE6.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  background: none;
}

.jumbotron h1 {
  color: white;
}

.jumbotron p {
  color: white;
}

.colorME {
  color: white;
}
#icon {
  color: white;
}

.test {
  background-size: cover;
}
