html,
body,
header,
#intro {
  height: 100%;
}

.adminOneContainer {
  padding-top: 100px;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../img/COVERPAGE3.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  background: none;
}

.jumbotron h1 {
  color: white;
}

.jumbotron p {
  color: white;
}

.colorME {
  color: white;
}

.greyME {
  color: gray;
}

.crimson {
  color: red;
}

#icon {
  color: white;
}

.test {
  background-size: cover;
}

.User2 {
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border: 5px pink;
  margin: 5px !important;
}

.dispImgBody {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  background: whitesmoke;
  margin-top: 0.8rem;
  display: inline-block; /* change the default display type to inline-block */
  overflow: auto;
  position: relative;
}

.dispImg {
  max-height: 200px;
  max-width: 100%;
  object-fit: cover;
}

.dispImg:hover {
  transition: all 0.2s ease;
  vertical-align: middle;
  transform: scale(1.5);
  -ms-transform: scale(1.5); /* IE 9 */
  -moz-transform: scale(1.5); /* Firefox */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  position: relative;
}

.dispText {
  height: 500px;
  max-width: 100%;
  cursor: pointer;
  text-overflow: ellipsis;
  border-radius: 10px;
}

.imgScroller {
  height: 650px;
  overflow: scroll;
}
.mainImgContainer {
  background: whitesmoke;
  height: 220px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mainImgBody {
  height: 200px;
  width: 95%;
  border-radius: 5px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  color: gray;
  border: 5px dashed rgb(138, 135, 135);
  padding: 20px;
  margin: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.center-me {
  margin-top: auto;
  margin-bottom: auto;
  border: 5px dashed rgb(138, 135, 135);
  display: none;
}
.uploadImage {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  opacity: 0.7;
}
.mainImgBody:hover {
  box-shadow: 5px 5px 2.5px rgb(77, 77, 77);
  cursor: pointer;
  color: rgb(27, 27, 27);
  border: 5px dashed rgb(27, 27, 27);
}
.mainImg {
  max-height: 650px;
  max-width: auto;
  object-fit: cover;
}

.whiteBG {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 10px;
}

.roundEdges {
  border-radius: 10px;
}

.titleBox {
  font-size: 1.3em;
  font-weight: bold;
  background: none;
  width: 100%;
}

.descriptionBox {
  background: none;
  font-weight: lighter;
}

.categoryBox {
  font-size: 1em;
  font-weight: lighter;
  background: none;
  width: 100%;
  border: 0px;
  border-radius: 0px;
  border-bottom: 2px solid gray;
}

.categoryLabel {
  width: 100%;
  font-size: 1em;
  font-weight: lighter;
  background: none;
}

.titleblock {
  width: 75%;
}

.priceBox {
  font-size: 1em;
  font-weight: lighter;
  background: none;
  width: 100%;
  border: 0px;
  border-bottom: 3px solid #428bca;
  border-left: 3px solid #428bca;
  border-top: 3px solid #428bca;
  border-right: 3px solid #428bca;
  border-radius: 5px;
  color: #428bca;
}

.leaseOptions {
  width: 40%;
}
.submitButton {
  width: 100%;
}
.testing {
  width: 85%;
}
